@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.doginfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007c7c;
    /* margin-top: 50px; */
    padding: 20px;
    text-align: center;
}
.doginfo .info{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.card{
    border-radius: 10px;
    box-shadow: 7px 5px rgba(43, 41, 41, 0.362);
    margin-top: 20px;
    max-width: 200px;
    background-color: #d6cab2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.card p{
    background-color: #007c7c;
    color: white;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
}
.carrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrow i{
    position: relative;
    left: 80px;
}
@media screen and (max-width: 960px){
    .carrow i{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .cards{
        flex-direction: column;
    }

}
.button button{
    padding: 10px 25px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: #007c7c;
    color: white;
    transition: 0.40s background-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: transform 80ms ease-in;
    text-align: center;
}
button:active{
    transform: scale(0.95);
}
button:hover{
    background-color: #519ac9;
}
.button{
    text-align: center;
    margin-bottom: 50px;
}
nav a{
    text-decoration: none;
    color: #e1644f;
    padding: 0px 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

@media(min-width:925px)
{
    .lout{
        visibility: collapse;
    }
}

.menu-items {
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-items li a {
    font-size: 1rem;
    padding: 0.5em 1em;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .menu-items a:hover {
    color: black;
    font-size: 21px;
  }
  
  /* nav menu button */
  .menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }
  .menu-btn__lines,
  .menu-btn__lines::before,
  .menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #111111;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__lines::before,
  .menu-btn__lines::after {
    content: "";
    position: absolute;
  }
  .menu-btn__lines::before {
    transform: translateY(-0.5rem);
  }
  .menu-btn__lines::after {
    transform: translateY(0.5rem);
  }
  /* animation */
  .menu-btn.open .menu-btn__lines {
    transform: translateX(2rem);
    background-color: transparent;
  }
  .menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #ffffff;
  }
  .menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #ffffff;
  }

  @media (max-width: 925px) {
    .custom-shape-divider svg {
      width: calc(250% + 1.3px);
      height: 150px;
    }
    .header a {
      font-size: 1rem;
    }
    .menu-btn {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 7%;      
    }
    .menu-items {
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 0;
      right: 0;display: none;
      left: 0;
      height: 100vh;
      transform: translateX(100vw);
      background-color: #d6cab2;
      transition: transform 0.3s ease-in-out;
    }
    .menu-items.open {
      transform: translateX(0);display: flex;
    }
    .menu-items li {
      width: 100vw;
      height: 100%;
    }
    .menu-items li a {
      color: #ffffff;
      font-size: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .menu-items li a:hover {
      color: #111111;
    }
  }